<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title th:text="'欢迎您,'+${session.currentUser.getMobileNumber()}">我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css"/>
</head>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">
            <h1 class="title" th:text="'欢迎您,'+${session.currentUser.getMobileNumber()}">我的生活</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="messages">
                <span class="icon icon-message"></span>
                <span class="tab-label">短信</span>
            </a>
            <a class="tab-item" href="contact">
                <span class="icon icon-phone"></span>
                <span class="tab-label">通话</span>
            </a>
        </nav>
        <div class="content">
            <!-- 这里是页面内容区 -->
            <div class="page-index" th:each="message,messageStat : ${#httpServletRequest.getAttribute('messages')}">
                <div class="card">
                    <div valign="bottom" class="card-header color-white no-border" th:text="${message.messageNum}">旅途的山</div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray" th:text="${message.messageTime}">发表于 2015/01/15</p>
                            <p th:text="${message.messgaeText}">此处是内容...</p>
                        </div>
                    </div>
                    <div class="card-footer" th:switch="${message.type}">
                        <a th:case="1" href="#" class="link">已收</a>
                        <a th:case="2" href="#" class="link">已发</a>
                        <a th:case="3" href="#" class="link">草稿</a>
                        <a th:case="4" href="#" class="link">待发</a>
                        <a th:case="5" href="#" class="link">发送失败</a>
                        <a th:case="6" href="#" class="link">延迟信息</a>
                        <!--<a href="#" class="link">更多</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>

</html>